<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/doctor/patient/new">Novi pacijent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Moji Pacijenti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Svi Pacijenti</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto align-items-center">
                <li class="nav-item d-none d-lg-block">
                    <span class="navbar-text me-3" th:text="${appUser.firstName + ' ' + appUser.lastName}">Ime i prezime</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- End navigation -->
    <h1>Patient list by doctor</h1>

<!-- Main content -->
<h1>Lista mojih zapisa</h1>
<table class="table table-bordered">
    <thead class="table-success">
    <tr>
        <th>Id</th>
        <th>Datum objave</th>
        <th>Krvni tlak</th>
        <th>Otkucaji srca</th>
        <th>Kratki opis</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patients, iterStat : ${patients}">
        <td th:text="${iterStat.index + 1}">1</td>
        <td th:text="${record.getFormattedDateOfMeasurement()}">01.01.2023</td>
        <td th:text="${record.systolicBloodPressure} + ' / ' + ${record.diastolicBloodPressure}">120/80</td>
        <td th:text="${record.heartRate}">75</td>
        <td th:text="${record.shortDescription}">opis...</td>
        <td><a th:href="@{'/patient/viewRecordDetails?recordId=' + ${record.recordId}}">Detalji</a></td>
    </tr>
    </tbody>
</table>
<!-- End main content -->
</body>
</html>