<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>
<body>
    <h1>Patient dashboard</h1>
    <button onclick="window.location.href='/patient/createRecord'">Add new record</button>
    <p>List of All records</p>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>sys</th>
                <th>dia</th>
                <th>hr</th>
                <th>desc</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${records}">
                <td th:text="${record.date}">2024</td>
                <td th:text="${record.systolicBloodPressure}">80</td>
                <td th:text="${record.diastolicBloodPressure}">120</td>
                <td th:text="${record.heartRate}">60-120</td>
                <td th:text="${record.shortDescription}">test...</td>
                <td>
                    <a th:href="@{/patient/recordDetail(id=${record.recordId})}">View details</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>