<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Patient Details</title>
</head>
<body>
    <h1>Patient Details</h1>
    <p>First name</p>
    <p th:text="${patient.firstName}"></p>
    <p>Last name</p>
    <p th:text="${patient.lastName}"></p>

    <h1>Measurements</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Blood Pressure</th>
                <th>Heart Rate</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="record : ${patient.bloodPressureRecords}">
                <td th:text="${record.date}">2024-01-01</td>
                <td th:text="${record.systolicBloodPressure} + '/' + ${record.diastolicBloodPressure}">120/80</td>
                <td th:text="${record.heartRate}">60</td>
                <td th:text="${record.shortDescription}">Test description</td>
            </tr>
        </tbody>
    </table>
</body>
</html>